.rightcol {
  height: 100vh;
  background: linear-gradient(to top right, orange, rgba(255, 0, 0, 0.685));
}
.profilepic {
  border-radius: 700px;
}
.rightsec {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
}